<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779903574475-563ldaulto1ug3fd7jiunnmv4e323ir6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779903574475-563ldaulto1ug3fd7jiunnmv4e323ir6</string>
	<key>API_KEY</key>
	<string>AIzaSyDReGUVIzE9Zavy-S4V5Zweb-oyBKNJVdE</string>
	<key>GCM_SENDER_ID</key>
	<string>779903574475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marinmir.Eventer</string>
	<key>PROJECT_ID</key>
	<string>eventer-cae35</string>
	<key>STORAGE_BUCKET</key>
	<string>eventer-cae35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779903574475:ios:e4d72e403d277302c6564e</string>
	<key>DATABASE_URL</key>
	<string>https://eventer-cae35.firebaseio.com</string>
</dict>
</plist>